<html>
    <head>
        <link rel="stylesheet" href="/css/footer.css" />
    </head>
    <body class = "game-body">

        <%- include('../partials/header', { activeTab: 'list' }) %>
        <!-- List Items -->
    <div class="tab-content">
        <h2>Game Test</h2>
        
    </div>

    <%- include('../partials/footer') %>
    </body>


</html>