<html>
    <head>

    </head>
    <body>

        <%- include('partials/header', { activeTab: 'list' }) %>
        <!-- List Items -->
    <div class="tab-content">
        <h2>Test</h2>
        
    </div>

    
    </body>


</html>