<html>
    <head>

    </head>
    <body class = "skin-body">

        <%- include('../partials/header', { activeTab: 'list' }) %>
        <!-- List Items -->
    <div class="tab-content">
        <h2>Skin Test</h2>
        
    </div>

    
    </body>


</html>